@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

html,
body {
  font-size: 62.5%;
  background: #0e1212;
  color: #ddd;
  font-family: "roboto", sans-serif;
}

h1 {
  font-size: 4rem;
  margin-bottom: 2.4rem;
}

h2 {
  font-size: 3.6rem;
  margin-bottom: 2.4rem;
}

h3 {
  font-size: 3rem;
  margin-bottom: 2.4rem;
}

p {
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
  max-width: 60rem;
  letter-spacing: 0.2rem;
  line-height: 2.4rem;
}

li {
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}

a {
  text-decoration: none;
}
/* 
  ====================
  Misc.
  ====================
*/
.container {
  width: 80%;
  margin: 0 auto;
}

/* 
  ====================
  Navbar
  ====================
*/

.navbar {
  background: rgba(14, 18, 18, 0.9);
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  align-items: center;
  padding: 2rem 0rem;
}

.bar {
  display: block;
  width: 30px;
  height: 1px;
  margin: 10px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #d9d9d9;
}

.bar:first-of-type {
  margin-top: 0;
}
.bar:last-of-type {
  margin-bottom: 0;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  transform: translateY(11px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-11px) rotate(-45deg);
}

.nav-menu {
  display: flex;
  position: fixed;
  left: -100%;
  top: 6.3rem;
  flex-direction: column;
  background-color: rgba(14, 18, 18, 0.9);
  width: 100%;
  text-align: center;
  align-items: center;
  transition: 0.3s;
}

.nav-menu.active {
  left: 0;
}

.nav-item {
  margin: 2.5rem 0;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #424242;
  letter-spacing: 0.3rem;
}

.nav-link.active {
  color: #fff;
}

.active span {
  color: #9042ff;
}

.nav-logo {
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.8rem;
}

.nav-logo span {
  color: #9042ff;
}

/* 
  ====================
  hero
  ====================
*/
#hero {
  display: flex;
  flex-direction: column;
  padding-top: 12rem;
  height: 100vh;
}

#hero img {
  display: flex;
  align-items: center;
  max-width: 22rem;
  margin: 0 auto 4.8rem auto;
}

#hero h1 {
  letter-spacing: 0.2rem;
  margin-bottom: 1.2rem;
}

#hero p {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  line-height: 2rem;
}

#hero p:first-of-type {
  color: #424242;
  margin-bottom: 0.2rem;
}

#hero p:last-of-type {
  color: #424242;
  max-width: 49rem;
}

#hero p:last-of-type span:first-of-type {
  color: #9042ff;
}

#hero p span:last-of-type {
  color: #fff;
}

#hero .btn {
  background: none;
  border: 0.3rem solid #9042ff;
  color: #fff;
  letter-spacing: 0.3rem;
  padding: 2.4rem 0;
  width: 100%;
}

/*
  =====================
  About
  =====================
*/
#about {
  padding-top: 12rem;
  height: 100vh;
}

#about h2 {
  letter-spacing: 0.8rem;
}

#about h2 span {
  color: #9042ff;
}
#about h3 {
  margin: 3em 0 2.4rem 0;
  font-size: 2.4rem;
  letter-spacing: 0.3rem;
}

#about span {
  color: #9042ff;
  margin-right: 0.3rem;
}

#about p {
  color: #eee;
}

#about .skills {
  color: #424242;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/*
  =====================
  Work
  =====================
*/
#work {
  padding-top: 12rem;
  height: 100vh;
}

#work h2 {
  letter-spacing: 0.8rem;
}

#work h2 span {
  color: #9042ff;
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 4.8rem;
}

.projects div {
  height: 24rem;
  margin-bottom: 12rem;
}

.projects img {
  width: 100%;
  height: 24rem;
}
.projects .tags {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.2rem;
}

.tags li {
  margin-right: 1.2rem;
  margin-bottom: 1.2rem;
}

.tags li:last-of-type {
  margin-right: 0;
}

.tags li a {
  color: #424242;
  transition: color 0.3s;
}

.tags li a:hover {
  color: #fff;
}
/*
  =====================
  footer
  =====================
*/
#footer p {
  text-align: right;
  max-width: initial;
}
@media screen and (min-width: 600px) {
  /* 
    ====================
    Misc.
    ====================
  */
  .container {
    width: 75%;
  }

  /* 
    ====================
    hero
    ====================
  */
  #hero img {
    max-width: 35rem;
  }
}
@media screen and (min-width: 800px) {
  /* 
    ====================
    Misc.
    ====================
  */
  .container {
    width: 65%;
  }

  /* 
    ====================
    hero
    ====================
  */
  #hero img {
    max-width: 35rem;
  }
  #hero .btn {
    width: 25rem;
  }
  /* 
    ====================
    about
    ====================
  */
  #about .skills {
    flex-direction: row;
    max-width: 80rem;
  }

  #about .skills li {
    margin-right: 2rem;
  }
}

@media screen and (min-width: 900px) {
  /* 
    ====================
    work
    ====================
  */
  .projects {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.4rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 65%;
  }
  /* 
    ====================
    Navbar
    ====================
  */
  .navbar {
    padding: 1rem 0;
  }
  .nav-menu {
    background: none;
    justify-content: initial;
    flex-direction: row;

    position: initial;
    width: initial;
  }
  .nav-item {
    margin-right: 2rem;
  }

  .nav-item:last-of-type {
    margin-right: 0;
  }
  .hamburger {
    display: none;
  }
  /* 
    ====================
    Navbar
    ====================
  */
  #hero {
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: flex-start;
  }

  #hero div {
    margin-top: 12.8rem;
  }

  #hero img {
    max-width: 35rem;
    margin: 0;
  }

  #hero div {
    max-width: 50rem;
  }

  #hero h1 {
    font-size: 6rem;
  }
  #hero .btn {
    width: 25rem;
  }

  /* 
    ====================
    work
    ====================
  */
  .projects {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2.4rem;
  }
}

@media screen and (min-width: 1400px) {
  #hero img {
    max-width: 50rem;
  }
}
